@import '../../layout/styles-config';

.content {
  padding: 10px 17px;
  border-radius: 6px;
}

.paragraph {
  @include flex($direction: row);
  @include font($size: 1.8rem, $height: 40px);
  text-transform: capitalize;
  &:nth-child(2) {
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
  }
}
