@import '../../layout/styles-config';

.wrapper {
  padding: 10px 15px;
}

.cardModal {
  @include flex($direction: row, $align: flex-start);
  > div {
    flex-basis: 50%;
  }
}

.content {
  > * {
    margin: 15px 0;
  }
}

.image {
  width: 100%;
  > img {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
  }
}

.header {
  @include font($size: 4rem, $height: 50px);
  letter-spacing: 3%;
  color: $white;
  text-transform: capitalize;
}

.text {
  @include font($size: 1.2rem, $height: 20px, $weight: 400);
}

.keys {
  max-width: 120px;
  position: absolute;
  right: 12px;
  top: 67px;
  > div {
    margin: 10px 0;
  }
}
