@import '../../layout/styles-config';

.label {
  cursor: pointer;
  width: 100%;
  @include font($size: 1.4rem, $height: 15px);
  color: $coffee-color;
  text-transform: capitalize;
}

.search {
  @include flex($direction: row);
  width: 100%;
  height: 45px;
  background-color: $coffee-color;
  border-radius: 6px;
  margin: 3px 0 0 0;
}

.input {
  @include font($size: 1.8rem, $height: 23.04px);
  cursor: pointer;
  width: 100%;
  background-color: $coffee-color;
  border: none;
  outline: none;
  color: $text-color;
  padding: 0 10px;
  border-radius: 6px;
  margin: 5px 0 0 0;
  height: 30px;
}

.uploadText {
  color: $text-color;
  text-transform: capitalize;
  @include font($size: 1.4rem, $height: 15px);
  border-radius: 6px;
  border: 2px solid $text-color;
  margin: 10px 0;
  padding: 10px 2px;
  background-color: $coffee-color;
}

input[name='description'] {
  height: 165px;
}
