@import '../../layout/styles-config';

.multiselect {
  cursor: pointer;
  width: 150px;
  border: none;
  border-radius: 6px;
  color: $text-color;
  margin: 15px 15px 0 0;
}
.selectBox {
    position: relative;

    > select {
      @include font($size: 1.6rem, $height: 13px);
      font-family: 'Lora', serif;
      width: 100%;
      background-color: $coffee-color;
      color: $text-color;
      border: none;
      border-radius: 6px;
      padding: 11px;
      text-transform: capitalize;
    }
  }

.checkboxes {
  display: block;
  background-color: $coffee-color;
  margin: 5px 0 0 0;
  border-radius: 6px;
  padding: 11px;
  position: absolute;
  z-index: 1000;
  width: 150px;

    > label {
      @include flex($direction: row, $align: center, $justify: flex-start);
      @include font($size: 1.4rem, $height: 14px);
      text-transform: capitalize;
      padding: 5px 0;
      cursor: pointer;

      > input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:not(:disabled):not(:checked) + span:hover::before {
          border-color: $dark-coffee-color;
        }

        &:not(:disabled):active + span::before {
          background-color: $coffee-color;
          border-color: $text-color;
        }
        &:focus + span::before {
          box-shadow: 0 0 0 0.2rem rgba(70, 41, 41, 0.25);
        }
        &:focus:not(:checked) + span::before {
          border-color: $light-beige;
        }
        &:checked + span::before {
          border-color: $text-color;
          background-color: $coffee-color;
          color: $text-color;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23462929' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
        &:disabled + span::before {
          background-color: $coffee-color;
        }
      }

      > span {
        display: inline-flex;
        align-items: center;
        user-select: none;

        &::before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          flex-shrink: 0;
          flex-grow: 0;
          border: 2px solid $text-color;
          border-radius: 2px;
          margin: 0 10px 0 0;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 80% 80%;
        }
      }
    }
  }

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
