@import '../../layout/styles-config';

.wrapper {
  padding: 0 22px;
  border-radius: 6px;
}

.text {
  color: $white;
  text-transform: capitalize;
  @include font($size: 1.4rem, $height: 25px, $align: center);
}
