@import "../../layout/styles-config";

.persons {
  background-image: url("../../assets/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.wrapper {
  @include flex();
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px 0 20px;
}
