@import '../../layout/styles-config';

.wrapper {
  @include flex($direction: row, $align: flex-start);
  padding: 20px;

  > * {
    flex-basis: 50%;
    margin: 0 5px;
  }
}

.form {
  @include flex();
  border-right: 2px solid $grey;
  padding: 0 30px;

  > * {
    margin: 10px 0;
  }
}

.line {
  @include flex($direction: row, $justify: flex-start, $align: flex-start);
  width: 100%;

  & > :nth-child(2) {
    margin: 0 5px;
  }
}

.color {
  @include flex($direction: column, $align: flex-start);
  width: 100%;
  > label {
    margin: 5px;
    @include flex($direction: row-reverse, $align: center, $justify: flex-end);
    @include font($size: 1.3rem, $height: 15px);
    color: $coffee-color;
    > span {
      margin: 0 0 0 5px;
    }
  }
}

.preview {
  @include flex($align: flex);
  width: 100%;
  > div {
    max-width: 400px;
    background-color: $text-color;
  }
  > span > h4 {
    margin: 0 10px 0 0;
  }
}

.header {
  color: $coffee-color;
  @include font($size: 1.4rem, $height: 15px);
  padding: 10px 0;
  cursor: pointer;
}

.error {
  text-transform: lowercase;
  color: $white;
  margin: 3px 0 0 0;
}

.image {
  @include flex($align: flex-start, $justify: flex-end);
  width: 100%;
  max-width: 189px;
  min-height: 210px;
  background-color: $coffee-color;
  background-image: url('../../assets/add.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50px;

  > img {
    width: 100%;
  }
}

.buttons {
  @include flex($direction: row, $justify: flex-start);
  margin: 10px 0;
  > button {
    margin: 0 10px 0 0;
  }
}
