@import '../../layout/styles-config';

.notFound {
  background-image: url('../../assets/404 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.content {
  @include flex();
  margin: 0 auto;
  max-width: 600px;
  padding: 100px 0 0 0;

  >* {
    margin: 50px 0;
    text-align: center;
  }
}

.header {
  @include font($size: 18rem, $height: 50px);
}
