@import '../../layout/styles-config';

.button {
  cursor: pointer;
  padding: 5px 29px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: 'Lora', serif;
  transition: all 0.5s ease-in;

  &__beige {
    background-color: $coffee-color;
    color: $text-color;
    @include font($size: 2rem, $height: 25.6px, $align: center);

    &:hover {
      background-color: $light-beige;
    }

    &:active {
      background-color: $dark-beige;
    }
  }

  &__green {
    background-color: $dark-green;
    color: $coffee-color;
    @include font($size: 2rem, $height: 25.6px, $align: center);

    &:hover {
      background-color: $middle-green;
    }

    &:active {
      background-color: $green;
    }
  }

  &__icon {
    background-color: transparent;
    width: 80px;
    height: 60px;
    color: $coffee-color;
    @include font($size: 3rem, $height: auto, $weight: 800);


    &-white {
      color: $white;
      background-color: transparent;
      @include font($size: 4.5rem, $height: auto, $weight: 800);
    }

    &:hover {
      color: $light-beige;
      font-size: 3.5rem;
    }

    &:active {
      color: $dark-beige;
      font-size: 3.5rem;
    }
  }
}

.active {
  color: $coffee-color !important;
}
