@import '../../layout/styles-config';

.card {
  cursor: pointer;
  max-width: 410px;
  border-radius: 6px;
  color: $white;
  @include font($size: 1.8rem, $height: 40px);
  @include flex($direction: column);
  position: relative;
}

.wrapper {
  width: 100%;
}

.image {
  width: 100%;
  position: relative;
}

.header {
  position: absolute;
  color: $white;
  @include font($size: 3.6rem, $height: 50px);
  text-transform: capitalize;
  padding: 13px 17px;
  bottom: 150px;
}
