@import '../../layout/styles-config';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  position: relative;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #2a2c35, #242228, #1c191c, #120f11, #000000);
  max-width: 950px;
  width: 100%;
  max-height: 100vh;
  z-index: 150;

  > button {
    color: $coffee-color;
    border-radius: 50%;
    border: 1px solid $coffee-color;
    font-size: 2rem;
    padding: 0 9px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
  }
}
