@import '../../layout/styles-config';

.item {
    margin: 0 33px 0 0;
}

.link {
    @include font($size: 2rem, $height: 25.6px);
    color: $coffee-color;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $light-beige;
    }

    &:active {
      font-weight: 700;
      font-size: 2.2rem;
    }
}

