@import "../../layout/styles-config";

.wrapper {
  width: 100%;
  position: relative;

  > button {
    position: absolute;
    right: 0;
    top: 70px;
  }
}

.form {
  @include flex($align: flex-start);
  width: 100%;
}

.line {
  @include flex($direction: row);
  width: 100%;
  height: 60px;

  > button {
    padding: 10px 29px;
    margin: 15px 0 0 0;
  }
}

.select {
  @include flex($direction: row, $justify: flex-start, $align: initial);
}
