.logo {
  background-image: url('../../assets/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 129px;
  height: 75px;
  margin: 0 30px 0 0;
}
