@import '../../layout/styles-config';

.hero {
  background-image: url('../../assets/bg_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.content {
  @include flex($align: flex-start);
  padding: 50px 0 0 0;
  max-width: 711px;
  max-height: 240px;

  & > h2, button {
    margin-top: 50px;
  }
}

