@import 'styles-config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Lora', serif;
  margin: 0 auto;
}

main {
  height: 100%;
}

h1 {
  @include font($size: 7.2rem, $weight: 700);
  color: $white;
}

h2 {
  @include font($size: 2.4rem, $height: 30.72px);
  color: $white;
}

a {
  text-decoration: none;
}

input[type="color"] {
  -webkit-appearance: none;
  border: 2px solid $coffee-color;
  width: 51px;
  height: 29px;
  background-color: $coffee-color;
  border-radius: 6px;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: 2px solid $coffee-color;
  background-color: $coffee-color;
  border-radius: 6px;
  padding: 0;
}

input[name="name"] {
  text-transform: lowercase;
}
