$black: #000000;
$white: #ffffff;
$coffee-color: #b09a81;
$dark-coffee-color: #796a58;
$light-beige: #daaf7c;
$dark-beige: #b08f67;
$dark-green: #1f4f3b;
$middle-green: #2d653a;
$green: #296036;
$text-color: #462929;
$grey: #494949;
