@mixin font($size, $height: 80px, $weight: 400, $style: normal, $align: left) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  text-align: $align;
}

@mixin flex($display: flex, $direction: column, $justify: space-between, $align: center) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin columns ($width, $display: flex, $wrap: nowrap, $justify: space-between) {
  display: $display;
  flex-wrap: $wrap;
  justify-content: $justify;
  >* {
    flex-basis: $width;
  }
}
