@import '../../layout/styles-config';

.header {
  background-color: $black;
  height: 99.54px;
}

.wrapper {
  @include flex($direction: row, $justify: flex-start);
  width: 100%;
  padding: 15.5px 40px 9.04px 40px;
}
